*
{
    margin: 0;
    padding: 0;
}

body article
{
    position: relative;

    overflow: hidden;

    width: 1024px;
    height: 768px;
    margin: 0 auto;
}

body article section
{
    position: absolute;

    overflow: hidden;

    width: 1024px;
    height: 768px;
}

#relax
{
    font-size: 18px;

    margin: 20px auto;

    text-align: center;
}

#space
{
    z-index: 3000;
    top: -766px;

    background: url('images/bg-space.jpg');
    background-size: cover;
}

#sea
{
    position: relative;

    background: url('images/bg-sea.jpg') no-repeat;
    background-size: cover;
}

.waves
{
    position: absolute;
    bottom: 0;

    width: 2168px;
    height: 500px;

    background: none;
}

.waves div
{
    position: absolute;
    right: 1084px;

    width: 100%;
    height: 100%;
}

.waves .first-wave
{
    z-index: 2000;

    animation: moveWave linear 3.5s infinite;

    background: url('images/waterwave_1.png');
}

.waves .second-wave
{
    animation: moveWave linear 5.2s infinite;

    background: url('images/waterwave_2.png');
}

.ship
{
    position: absolute;
    z-index: 3000;
    right: 0;
    bottom: 20px;

    width: 460px;
    height: 290px;

    will-change: auto;
}

.submarine
{
    transform: translateY(0);
    animation: moveXSubmarine linear 20s infinite;

    will-change: auto;
}
.submarine > div,
.spaceship > div
{
    animation: moveYSubmarine linear 5s infinite;
}

.ship > div,
.ship .body-ship
{
    width: 100%;
    height: 100%;
}

.ship .body-ship
{
    position: absolute;
    z-index: 3000;

    background: url('images/submarine.png') no-repeat;
}

.ship .pipe
{
    position: absolute;
    z-index: 2900;
    top: -97px;
    right: 187px;

    width: 150px;
    height: 160px;

    background: url(images/submarine-pipe.png) no-repeat;
}

.ship .fire
{
    position: absolute;
    top: 45px;
    right: -210px;

    display: none;

    width: 230px;
    height: 130px;

    background: url(images/fire.png) no-repeat;
    background-size: contain;
}

.submarine .bubbles
{
    position: absolute;
    top: 90px;
    right: 20px;

    width: 25px;
    height: 25px;
}

.submarine .bubbles div
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.submarine .bubbles .bubble-1
{
    top: -6px;
    right: 0;

    animation: moveBubble .2s ease-out 5s infinite;

    background: url('images/bubble_1.png') no-repeat;
}

.submarine .bubbles .bubble-2
{
    top: -15px;
    right: -10px;

    animation: moveBubble .4s ease-out 1s infinite;

    background: url('images/bubble_2.png') no-repeat;
}

.submarine .bubbles .bubble-3
{
    top: 15px;
    right: 0;

    animation: moveBubble .6s ease-out 1s infinite;

    background: url('images/bubble_3.png') no-repeat;
}

.submarine .bubbles .bubble-4
{
    top: 0;
    right: 15px;

    animation: moveBubble .8s ease-out 1s infinite;

    background: url('images/bubble_4.png') no-repeat;
}

.submarine .bubbles .bubble-5
{
    top: 10px;
    right: -8px;

    animation: moveBubble 1s ease-out 1s infinite;

    background: url('images/bubble_5.png') no-repeat;
}

.submarine .bubbles .bubble-6
{
    top: -10px;
    right: 0;

    animation: moveBubble 1.2s ease-out 1s infinite;

    background: url('images/bubble_6.png') no-repeat;
}

.submarine .bubbles .bubble-7
{
    top: 0;
    right: 0;

    animation: moveBubble 1.4s ease-out 1s infinite;

    background: url('images/bubble_7.png') no-repeat;
}

.spaceship
{
    animation: moveXSubmarine linear 20s infinite;
    animation-iteration-count: 2;
}

.spaceship > div
{
    animation: moveSpaceship  linear 7.5s forwards;
    animation-iteration-count: 1;
}

.spaceship .pipe
{
    transition: all 3s linear;
    transform: translateY(100px);

    opacity: 0;
}

.spaceship .bubbles
{
    display: none;
}

.spaceship .fire
{
    display: block;

    transform-origin: 0 50%;
    animation: startFire linear .5s infinite;
}

.iceberg
{
    z-index: 1000;
    top: 28%;
    right: 44%;

    animation: moveIceberg linear 4s infinite;
}

.iceberg .part-1
{
    background: url('images/iceberg/left.png') no-repeat;
}

.iceberg .part-2
{
    background: url('images/iceberg/top.png') no-repeat;
}

.iceberg .part-3
{
    background: url('images/iceberg/right.png') no-repeat;
}

.iceberg .part-4
{
    background: url('images/iceberg/bottom.png') no-repeat;
}

.iceberg .part-5
{
    background: url('images/iceberg/iceberg-bottom.png') no-repeat;
}

.iceberg,
.iceberg div
{
    position: absolute;

    width: 140px;
    height: 140px;

    background-size: contain;
}

.section-moving .iceberg .part-1
{
    animation: leftBoom linear .4s forwards;
    animation-delay: 50s;
}

.section-moving .iceberg .part-2
{
    animation: topBoom linear .4s forwards;
    animation-delay: 50s;
}

.section-moving .iceberg .part-3
{
    animation: rightBoom linear .4s forwards;
    animation-delay: 50s;
}

.section-moving .iceberg .part-4
{
    animation: bottomBoom linear .4s forwards;
    animation-delay: 50s;
}

.section-moving .iceberg .part-5
{
    animation: moveBottomIceberg linear 1s forwards;
    animation-delay: 50s;
}

.sky
{
    position: absolute;

    width: 100%;
    height: 350px;
}

.sky .small-stars,
.sky .medium-stars,
.sky .big-stars
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.sky .small-stars
{
    animation: gloweStar linear 4s infinite;

    background: url('images/sky-small-stars.png') no-repeat;
}

.sky .medium-stars
{
    animation: gloweStar  linear 6s infinite;

    background: url('images/sky-medium-stars.png') no-repeat;
}

.sky .big-stars
{
    animation: gloweStar linear 9s infinite;

    background: url('images/sky-big-stars.png');
}

.section-moving
{
    animation: moveSection linear 42s forwards;
    animation-delay: 7s;
}

.space-stars,
.space-stars > div
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.space-stars .small-stars
{
    background: url('images/space-stars-1.png') no-repeat;
}

.space-stars .medium-stars
{
    background: url('images/space-stars-2.png') no-repeat;
}

.space-stars .big-stars
{
    background: url('images/space-stars-3.png') no-repeat;
}

.section-moving .space-stars .small-stars
{
    animation: gloweStar linear 4s infinite;
}

.section-moving .space-stars .medium-stars
{
    animation: gloweStar  linear 6s infinite;
}

.section-moving .space-stars .big-stars
{
    animation: gloweStar linear 9s infinite;
}

.tesla-car
{
    position: absolute;
    z-index: 1000;
    top: -100px;
    right: -190px;

    display: block;

    width: 580px;
    height: 360px;

    transform: scale(.1);

    opacity: 0;
    background: url(images/tesla-roadstar.png) no-repeat;
    background-size: contain;
}

.section-moving .tesla-car
{
    animation: moveTeslaCar 6s linear forwards;
    animation-delay: 17s;
}

.tesla-car > div
{
    font-size: 20px;

    position: absolute;
    top: -30px;
    right: 30px;

    width: 180px;
    height: 140px;

    transform: scale(.2);
    text-align: center;

    opacity: 0;
    background: url(images/messageBox.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.section-moving .tesla-car > div
{
    animation: showMessage 3.5s linear forwards;
    animation-delay: 27s;
}

.tesla-car span
{
    display: block;

    opacity: 0;
}

.section-moving .tesla-car .message span:first-child
{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 15px;

    animation: showText 2.5s linear forwards;
    animation-delay: 33s;
}

.section-moving .tesla-car .message span:last-child
{
    animation: showText 2.5s linear forwards;
    animation-delay: 34.5s;
}

.rocket
{
    position: absolute;
    z-index: 500;
    top: 37%;
    left: 49%;

    width: 40px;
    height: 150px;

    opacity: 0;
}

.rocket .rocket-body
{
    position: relative;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background: url('images/racket.png') no-repeat;
    background-size: contain;
}

.rocket .fire
{
    position: relative;
    z-index: 500;
    top: -170px;
    right: 7px;

    width: 51px;
    height: 40px;

    background: url(images/rock-fire.png) no-repeat;
    background-size: contain;
}

.section-moving .rocket .fire
{
    animation: startFire linear .5s infinite;
    animation-delay: 30s;
}

.section-moving .rocket
{
    animation: moveRocket linear 7s forwards;
    animation-delay: 43s;
}

.section-moving
{
    overflow: visible;
}

.titanic
{
    position: absolute;
    top: 22%;
    left: -35%;

    width: 350px;
    height: 170px;
}
.titanic > div
{
    width: 100%;
    height: 100%;
}
.titanic-body
{
    position: absolute;

    width: 100%;
    height: 100%;

    background: url('images/titanic.png') no-repeat;
    background-size: contain;
}


.ventilator
{
    position: absolute;
    top: 35%;
    left: 0;

    width: 120px;
    height: 120px;

    background: url('images/ventilator.png') no-repeat;
    background-size: contain;
}

.section-moving .ventilator
{
    animation: rotateVentilator linear 2s infinite;
    animation-delay: 48s;
}

.section-moving .titanic
{
    animation: moveXTitanic linear 19s infinite;
    animation-delay: 48s;
}

.section-moving .titanic > div
{
    animation: moveYTitanic linear 5s infinite;
    animation-delay: 50s;
}

#sea .message
{
    font-size: 20px;

    position: absolute;
    z-index: 1000;
    top: 60%;
    left: 30%;

    width: 400px;
    height: 250px;

    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    color: white;
}

.section-moving .message
{
    animation: openMessage linear 5s forwards;
    animation-delay: 52s;
}


@keyframes moveWave
{
    to
    {
        transform: translateX(1084px);
    }
}

@keyframes moveXSubmarine
{
    0%
    {
        transform: translateX(0%) scaleX(1);
    }
    35%
    {
        transform: translateX(-250%) scaleX(1);
    }
    36%
    {
        transform: translateX(-250%) scaleX(-1);
    }

    75%
    {
        transform: translateX(200%) scaleX(-1);
    }
    76%
    {
        transform: translateX(200%) scaleX(1);;
    }

    100%
    {
        transform: translateX(0%) scaleX(1);
    }
}

@keyframes moveYSubmarine
{
    25%
    {
        transform: translateY(10%);
    }
    50%
    {
        transform: translateY(0%);
    }
    75%
    {
        transform: translateY(-11%);
    }
    100%
    {
        transform: translateY(0%);
    }
}

@keyframes gloweStar
{
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes moveBubble
{
    25%
    {
        transform: translate(75px,-5px);

        opacity: 1;
    }
    50%
    {
        transform: translate(90px,-10px);

        opacity: 1;
    }
    75%
    {
        transform: translate(110px,-15px);

        opacity: .7;
    }
    100%
    {
        transform: translate(120px,-25px);

        opacity: 0;
    }
}

@keyframes startFire
{
    25%
    {
        transform: rotate(-5deg) scale(1.3);
    }

    50%
    {
        transform: rotate(0deg) scale(1);
    }

    75%
    {
        transform: rotate(5deg) scale(1.3);
    }

    100%
    {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes moveSpaceship
{
    to
    {
        transform: translateY(-1000px) skewY(20deg) rotateY(27deg) rotateX(-10deg);
    }
}

@keyframes moveSection
{
    15%
    {
        transform: translateY(768px);
    }
    85%
    {
        transform: translateY(768px);
    }
    100%
    {
        transform: tranSlateY(0px);
    }
}

@keyframes moveTeslaCar
{
    from
    {
        transform: translateY(0) translateX(0) scale(0);

        opacity: .5;
    }

    to
    {
        transform: translateY(250px) translateX(-450px) scale(1);

        opacity: 1;
    }
}

@keyframes showMessage
{
    from
    {
        transform: translateX(0) translateY(0) scale(0);

        opacity: 1;
    }
    to
    {
        transform: translateX(55px) translateY(-60px) scale(1);

        opacity: 1;
    }
}

@keyframes showText
{
    to
    {
        opacity: 1;
    }
}

@keyframes moveRocket
{
    0%
    {
        opacity: 1;
    }
    40%
    {
        transform: translateY(340px);

        opacity: 1;
    }
    90%
    {
        transform: translateY(390px);

        opacity: 1;
    }
    99%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(590px);

        opacity: 0;
    }
}

@keyframes moveIceberg
{
    50%
    {
        transform: translateY(25%);
    }
    100%
    {
        transform: translateY(0%);
    }
}

@keyframes leftBoom
{
    to
    {
        transform: translateY(-100px) translateX(-200px) scale(.5);

        opacity: 0;
    }
}

@keyframes topBoom
{
    to
    {
        transform: translateY(-200px) translateX(0px) scale(.5);

        opacity: 0;
    }
}

@keyframes rightBoom
{
    to
    {
        transform: translateY(-100px) translateX(200px) scale(.5);

        opacity: 0;
    }
}

@keyframes bottomBoom
{
    to
    {
        transform: translateY(-200px) translateX(-150px) scale(.5);

        opacity: 0;
    }
}

@keyframes moveBottomIceberg
{
    to
    {
        transform: translateY(300px);

        opacity: 0;
    }
}

@keyframes rotateVentilator
{
    to
    {
        transform: rotate(360deg);
    }
}

@keyframes moveXTitanic
{
    50%
    {
        transform: translateX(420%) scaleX(1);
    }
    51%
    {
        transform: translateX(420%) scaleX(-1);
    }
    100%
    {
        transform: translateX(0%) scaleX(-1);
    }
}

@keyframes moveYTitanic
{
    25%
    {
        transform: translateY(10%);
    }
    50%
    {
        transform: translateY(0%);
    }
    75%
    {
        transform: translateY(-11%);
    }
    100%
    {
        transform: translateY(0%);
    }
}

@keyframes openMessage
{
    to
    {
        opacity: 1;
    }
}
